---
http_interactions:
- request:
    method: get
    uri: https://api.uptrends.com/v3/probes?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Servername:
      - OBI
      X-Server:
      - OBI
    body:
      encoding: UTF-8
      string: '[{"Guid":"a75509e4c7ef913c637d154c9f281525","Name":"AAA Northern California
        (goaaa)","URL":"https://acp.goaaa.local/","Port":443,"CheckFrequency":5,"ProbeType":"Https","IsActive":true,"GenerateAlert":true,"Notes":"","PerformanceLimit1":60000,"PerformanceLimit2":60000,"ErrorOnLimit1":false,"ErrorOnLimit2":false,"MinBytes":0,"ErrorOnMinBytes":false,"Timeout":30000,"TcpConnectTimeout":10000,"MatchPattern":"j_username","DnsLookupMode":"Local","UserAgent":"Mozilla/4.0
        (compatible; MSIE 6.0; Windows NT 5.1; SV1;)","UserName":"","Password":"","IsCompetitor":false,"Checkpoints":"76,55,2,35,12,38,31,26,57,48,68,60,9,10,41,72,101,93,8,45,73,81,28,84,54,11,90,29,99,4,15,14,62","HttpMethod":"Get","PostData":""},{"Guid":"a75509e4c7ef913c637d154c9f281525","Name":"Accenture
        US (technologyvision)","URL":"https://www.technologyvision.local/","Port":443,"CheckFrequency":5,"ProbeType":"Https","IsActive":true,"GenerateAlert":true,"Notes":"","PerformanceLimit1":2500,"PerformanceLimit2":5000,"ErrorOnLimit1":false,"ErrorOnLimit2":false,"MinBytes":0,"ErrorOnMinBytes":false,"Timeout":30000,"TcpConnectTimeout":10000,"MatchPattern":"","DnsLookupMode":"Local","UserAgent":"Mozilla/5.0
        (compatible; M[...]
