---
http_interactions:
- request:
    method: get
    uri: https://api.uptrends.com/v3/probegroups/819ddc84-a4f2-1234-a046-4e40559fde07?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Servername:
      - OBI
      X-Server:
      - OBI
    body:
      encoding: UTF-8
      string: '{"Guid":"819ddc84a4f21234a0464e40559fde07","Name":"Linux JAVA","IsAll":false,"IsClientProbeGroup":false}'
  recorded_at: Fri, 09 Jan 2015 07:46:18 GMT
recorded_with: VCR 2.9.2
